{% extends 'base.html'%}

{% block content %}
    <h2>{% block title %} Editar {%endblock%}</h2>
    <div class="row justify-content-center">
        <div class="col-sm-8">
           <div class="card">
               <div class="card-body">
                <h4 class="card-title">Editar campo</h4>
                <p class="card-text">Desde este formulario puedes editar el nombre, descripción y grupo del campo</p>
                    <div class="card-body">
                        <form action="" method="POST">
                            <div class="mb-3">
                                <label for="field_name" class="form-label">Nombre del campo</label>
                                <input type="text" class="form-control" id="field_name" name="field_name" required minlength="4" maxlength="20" value="{{ field.field_name }}">
                            </div>
                            <div class="mb-3">
                                <label for="field_description" class="form-label">Descripción del campo</label>
                                <input type="text" class="form-control" id="field_description" name="field_description" value="{{ field.field_description }}">
                            </div>
                            <div class="mb-3">
                                <label for="rolid" class="form-label">Rol</label>
                                <select class="form-select" id="groupid" name="group_id" required>
                                    {% for group in groups %}
                                        <option value="{{ group.id }}">{{ group.group_name }}: {{group.group_description}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Editar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}           
